{{ define "nav" }}
<div class="py-4 bg-[#FAF8F6]">
    <nav class="fixed top-4 left-1/2 transform -translate-x-1/2 max-w-max px-4 lg:px-10 mx-auto py-4 bg-white bg-opacity-75 backdrop-blur-lg shadow-sm border broder-zinc-100 rounded-full">
        <ul class="flex justify-center items-center space-x-6">
            <li><a class="text-sm font-medium transition duration-200 text-primary" href="/">Home</a></li>
            <li><a class="text-sm font-medium transition duration-200 text-zinc-600 hover:text-primary" href="#my-works">My Works</a></li>
            <li><a class="text-sm font-medium transition duration-200 text-zinc-600 hover:text-primary" href="#skills">Open Source</a></li>
            <li><a class="text-sm font-medium transition duration-200 text-zinc-600 hover:text-primary" href="#skills">Skills</a></li>
            <li><a class="text-sm font-medium transition duration-200 text-zinc-600 hover:text-primary" href="#contact">Contact</a></li>
        </ul>
    </nav>
</div>
{{ end }}